<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="websites.Listeners"/> 
	</listeners>	

  <test thread-count="5" name="Test">
    <classes>
      <class name="websites.ExplicitwaitTest"/>
      <class name="websites.CheckboxesTest"/>
      <class name="websites.addCartTest"/>
      <class name="websites.MarsairTest"/>
      <class name="websites.MultiplewindowsTest"/>
      <class name="websites.CalendarTest"/>
      <class name="websites.AutoSuggestiveTest"/>
      <class name="websites.NestedframesTest"/>
      <class name="websites.ExerTest"/>
      <class name="websites.TablesTest"/>
      <class name="websites.TableAssignmentTest"/>
      <class name="websites.CleartripTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
